<div ng-controller="ActividadesController" ng-init="Actividades_Sel(Estado);">
    <h1>Actividades</h1>
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Estado</label>
            </div>
            <select class="custom-select form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="Estado">
                <option value="" selected="selected">Todos</option>
                <option value="A">Activo</option>
                <option value="C">Cancelado</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" ng-click="Actividades_Sel(Estado)">Buscar</button>
            </div>                
        </div>
    </div>
    <dir-pagination-controls paginate-id="Actividades"></dir-pagination-controls>
    <table class="table table-bordered" id="dataTable" cellspacing="0" ng-hide="mainItems.length==0">
        <thead>
            <tr>
                <th ng-click="sortBy('actividad')">Actividad <i class=" fas fa-sort"></i></th>
                <th ng-click="sortBy('description')">Description <i class=" fas fa-sort"></i></th>
                <th ng-click="sortBy('estatus')">Estatus <i class=" fas fa-sort"></i></th>
                <th>    
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NuevoActividades">
                    <i class="icon fas fa-plus"></i></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="e in ListActividadesMod | filter: PalabraClave | orderBy:ColumnName:reverse |itemsPerPage:RegistrosXPag as mainItems" paginate-id="Actividades"> 
                <td>{{e.nombre}}</td>
                <td>{{e.descripcion}}</td>
                <td>
                    <span ng-show="e.estatus=='A'">Activo</span>
                    <span ng-show="e.estatus=='C'">Cancelado</span>
                </td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#DetallesActividades"   ng-click="Actividades_LoadEdit(e)"><i class="icon fas fa-eye"></i></button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#EliminarActividades" ng-click="Actividades_LoadEdit(e)"><i class="icon fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 ng-if="mainItems.length==0">No se encontraron registros     
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NuevoActividades">
        <i class="icon fas fa-plus"></i>
    </button></h3>
    <dir-pagination-controls paginate-id="Actividades"></dir-pagination-controls>
    <div id="NuevoActividades" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Agregar Actividades</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h1>Datos Actividades</h1>
                <div class="row">
                    <div class="col-md-12">
                        <label>Nombre Actividad</label>
                        <input type="text" class="form-control" ng-model="NewActividades.nombre">
                    </div>
                    <div class="col-md-12">
                        <label>Descripcion</label>
                        <textarea class=" form-control" ng-model="NewActividades.descripcion" rows="5">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" ><i class="icon fas fa-times"></i></button>
              <button type="button" class="btn btn-primary" ng-click="Actividades_Ins(NewActividades)"><i class="icon fas fa-save"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div id="DetallesActividades" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">Detalles Actividades <button class="btn btn-primary"
                 ng-clicK="Editar=!Editar" ng-show="!Editar"><i class="icon fas fa-edit"></i></button></h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Nombre Actividad</label>
                        <input ng-disabled="!Editar" type="text" class="form-control" ng-model="Edit.nombre">
                    </div>
                    <div class="col-md-12">
                        <label>Descripcion</label>
                        <textarea ng-disabled="!Editar" class=" form-control" ng-model="Edit.descripcion" rows="5">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"  ng-click="ValidarEditar()"><i class="icon fas fa-times"></i></button>
              <button type="button" class="btn btn-primary" ng-show="Editar" ng-click="Actividades_Upd(Edit)"><i class="icon fas fa-save"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div id="EliminarActividades" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header  bg-danger">
              <h5 class="modal-title">Eliminar Actividades</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h1>¿Desea eliminar la actividad {{Edit.nombre}}?</h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" ><i class="icon fas fa-times"></i></button>
              <button type="button" class="btn btn-primary" ng-click="Actividades_Del(Edit.idActividad)"><i class="icon fas fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
</div>