
<!DOCTYPE html>
<html lang="en" ng-app="Login" ng-controller="LoginController"> 

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/w3school.css" rel="stylesheet" />
    <!---scripts Angular--->
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/Login.js"></script>
    <script src="/Scripts/cookies.js"></script>
    <script src="/Scripts/cookieWriter.js"></script>
</head>
<body ng-app="Login" class="bg-gradient-primary">   
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                                <img style="width:110%!important;" src="/img/Logo.png">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <form class="user">
                                        <h3 class="h4 text-gray-900 mb-4">¡Bienvenido!</h3>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   placeholder="Correo Electronico" ng-model="Entrada" required>
                                        </div>
                                        <div class="form-group input-group">
                                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña" ng-model="Pass" ng-attr-type="{{ showPassword ? 'text':'password'}}">
                                            <div class="input-group-append">
                                                <button class="btn" style="color:white; border:groove;border-radius:0px 30px 30px 0px" type="button">
                                                    <i style="color:black;cursor: pointer;" ng-click="showPassword=!showPassword" ng-class="{'fa fa-eye': showPassword,'fa fa-eye-slash': !showPassword}"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block" ng-click="Login(Entrada,Pass)">
                                            INICIAR SESIÓN
                                        </button>
                                    </form>
                                    <hr />
                                    <!---
                                        <div class="text-center">
                                            <a href="/Login/Recuperar" style="color:blue">Olvide mi contraseña</a>
                                        </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/Scripts/sb-admin-2.min.js"></script>
</body>
</html>
